{
    "$schema": "https://json.schemastore.org/swcrc",
    "exclude": [".\\.d.ts$", ".*\\.map$"],
    "jsc": {
      "minify": {
        "compress": {
          "unused": true
        },
        "mangle": true
      },
      "target": "esnext",
      "loose": false,
      "externalHelpers": false,
      "keepClassNames": false
    },
    "minify": true
  }